<style>

 html {
     height:100%;
     padding: 0;
     margin: 0;
     overflow-y: hidden;
 }

 body {
     display: flex;
     flex-direction: row;
     height:100%;
     padding: 0;
     margin: 0;
 }

 #controls {
     flex: 1;
     height:100%;
     padding: 1em;
     margin: 0;
 }

 #plot {
     flex: 4;
     height:100%;
     padding: 0;
     margin: 0;
 }

</style>


<head> 
    <script src="https://cdn.jsdelivr.net/npm/vega@4.3.0/build/vega.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc8/build/vega-lite.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@3.20.0/build/vega-embed.js"></script>
</head>

<div id="controls">
    {% include 'variables.html.jinja2' %}
    <hr>
    <div>
        <a href="/">Trace</a>
    </div>
</div>

<div id="plot"></div>

<script type="text/javascript">
 var opt = {
     mode: "vega-lite",
     renderer: "svg",
     actions: {export: true, source: false, editor: false}
 };
 vegaEmbed("#plot", JSON.parse({{data|tojson()}}), opt);

</script>
