<style>

 html {
     height:100%;
     padding: 0;
     margin: 0;
     overflow-y: hidden;
 }

 body {
     display: flex;
     flex-direction: row;
     height:100%;
     padding: 0;
     margin: 0;
 }

 #controls {
     flex: 1;
     height:100%;
     padding: 1em;
     margin: 0;
 }

 #scene {
     flex: 4;
     height:100%;
     padding: 0;
     margin: 0;
 }

</style>


<body style="background:white;">

    <div id="controls">
        {% include 'variables.html.jinja2' %}
        
        <hr>
        
        <div>
            <ul>
                {% for i, element in elements %}
                    <li>
                        <a href="/footprint/{{i}}">
                            Element {{ loop.index }} ({{ element.__class__.__name__ }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
        
    <div id="scene" style="background: black">
        
    </div>
       
    <script src="js/three.js"></script>
    <script src="js/OrbitControls.js"></script>
    <script src="js/phorayScene.js"></script>
    <script>
     phorayScene({{ system | tojson() }});
    </script>
    
</body>
