<form id="variableForm" method="post">
    <table>
        {% for name, value in variables.items() %}
            <tr>
                <td> {{ name }}</td>
                <td>
                    <input type="number" name="{{ name }}"
                           value="{{ value }}" step="any">
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td> n_rays </td>
            <td>
                <input type="number" name="n_rays" value="{{n_rays}}" step="1">
            </td>
        </tr>
    </table>

    <!-- Store the camera parameters, so that they are kept when reloading -->
    <input type="hidden" id="controlsPosition" name="_controls_position"
           value="{{ controls_position or 0 | tojson() }}">
    <input type="hidden" id="controlsTarget" name="_controls_target"
               value="{{ controls_target or 0 | tojson() }}">
    <input type="hidden" id="controlsZoom" name="_controls_zoom"
           value="{{ controls_zoom or 0 | tojson() }}">
    
    <button type="submit">Trace</button>
</form>

<div>Took {{ dt | round(2) }} s.</div>

