/* app css stylesheet */

body {
    font-size: small;
    font-family: sans;
}

fisk {
    font-size: xx-large;
}

.wrap {
    padding: 5px;
}

#sidebar {
    background: #bbb;
    overflow: auto;
}

#view {
    background: #444;
}

div.systems {
    padding: 5px;
    background-color: #eee;
    border-width: 2px;
    border-color: black;
}

.systems .item {
    margin-left: 20px;
    padding-left: 5px;
    font-weight: bold;

}

.systems .header {
    text-align: left;
    font-weight: normal;
}

.systems .selected {

}

.swatch {
    height: 20px;
    width: 20px;
}

.sections {

}

.section {
    margin: 0 0 5px 0;
    border: 2px solid #999;
    border-radius: 5px;
}

.section .system, .systems .system .selected {
    background-color: #ec7;
}

.section .source, .systems .source .selected {
    background-color: #bcf;
}

.section .element, .systems .element .selected {
    background-color: #9d9;
}


.section .header {
    color: white;
    padding: 2px;
    border-radius: 3px 3px 0 0;
}


.systems .selected {
    background: #88f;
}

.section .system .header {
    background: #983;
}

.section .source .header {
    background: #78a;
}

.section .element .header {
    background: #696;
}

.subsection, .list {
    padding: 5px;
}

.attrib {
    padding: 3px;
}

.label {
    font-weight: bold;
}

.underline {
    border-bottom: 1px solid #888;
}

.to-center {
    text-align: center;
}

.to-right {
    text-align: right;
}

.geometry, .list .item {
    border-style: solid;
    border-color: #888;
    border-width: 0 0 0 2px;
    border-radius: 5px;
    padding: 0 0 0 5px;
}

div.coordinates {
    border-top: solid black 1px;
    border-radius: 5px;
    padding-top: 3px;
}
