/* layout css stylesheet */

body,html{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    overflow: hidden;
}

#view {
   float: right;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 25%;
}

#sidebar{
   width:25%;
   float: left;
   position: absolute;
   top: 0;
   bottom: 0;
   overflow-y: hidden;
}


#footer{
    width:100%;
    height: 20px;
    bottom:0;
    position:absolute;
}

#header{
    background-color: wheat;
    width:100%;
    height: 100px;
}

#dragbar{
   position: absolute;
   right: 0;
   height: 100%;
   float: right;
   width: 3px;
   cursor: col-resize;
}

input:not([type=submit]):not([type=file]) {
    border: 1px solid #bbb;
}

input[type=number] {
    text-align: right;
}

/* Get rid of the tiny arrow buttons on number fields in chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}