/* layout css stylesheet */

body,html{width:100%;height:100%;padding:0;margin:0;}

#view {
   float: right;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 25%;
}

#sidebar{
   width:25%;
   float: left;
   position: absolute;
   top: 0;
   bottom: 0;
   overflow-y: hidden;
}

#footprint {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    right: 0;
    pointer-events: none;
}

#footer{
    width:100%;
    height: 20px;
    bottom:0;
    position:absolute;
}

#header{
    background-color: wheat;
    width:100%;
    height: 100px;
}

#dragbar{
   height: 100%;
   float: right;
   width: 3px;
   cursor: col-resize;
}